#intro-overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background-color: black;
      color: white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      z-index: 9999;
      opacity: 1;
      transition: opacity 1s ease;
    }

    #intro-overlay.fade-out {
      opacity: 0;
      pointer-events: none;
    }

    #intro-overlay img {
      width: 200px;
      height: auto;
      opacity: 80%;
      margin-bottom: 20px;
    }

    #intro-overlay h1 {
      font-size: 2em;
      margin: 0;
    }
.cpyname{
    font-size: 40px;
    margin-top: 40px;
    font-family: cursive;
}